<launch>
  <node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
    <param name="stream_mode" value="ClientPull" type="str" />
    <param name="datastream_hostport" value="192.168.2.102:801" type="str" />
    <param name="ARDroneShare/ARDroneShare/zero_pose/orientation/x" value="0.25386272912390834" type="double" /> 
    <param name="ARDroneShare/ARDroneShare/zero_pose/orientation/y" value="0.6464421904126567" type="double" /> 
    <param name="ARDroneShare/ARDroneShare/zero_pose/orientation/z" value="-0.2497563279321569" type="double" />
    <param name="ARDroneShare/ARDroneShare/zero_pose/orientation/w" value="0.674750313726561" type="double" />
    <param name="ARDroneShare/ARDroneShare/zero_pose/position/x"    value="0" type="double" />
    <param name="ARDroneShare/ARDroneShare/zero_pose/position/y"    value="0" type="double" />
    <param name="ARDroneShare/ARDroneShare/zero_pose/position/z"    value="0" type="double" />
  </node>
  <node name="vicon_coordinates" pkg="ardrone_tutorials" type="vicon.py" output="screen" required="True"/>
  <node name="terpsichore" pkg="terpsichore" type="osc_test" output="screen" required="True"/>
  <node name="wavedna" pkg="ardrone_tutorials" type="wavedna.py" output="screen" required="True"/>
  <node name="dsl_controller" pkg="ardrone_tutorials" type="dsl_controller.py" output="screen" required="True"/>
</launch>

